@mixin bp($point) {
  @if $point == l {
    @media (min-width: 65rem) { @content; }
  }
  @else if $point == m {
    @media (min-width: 45rem) { @content; }
  }
  @else if $point == s {
    @media (min-width: 35rem)  { @content; }
  }
}

$black: rgb(10,10,10);
$sans: 'acumin-pro', Helvetica, arial, sans-serif;
$cooper: 'cooper-black-std';